body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: cornflowerblue;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(
    325deg,
    #2f4156 20%,
    #567cbd 45%,
    #c8d9e6 60%,
    #f5efbd 100%
  );
  padding: 40px 60px;
}

h2 {
  font-size: 3em;
  color: rgb(3, 53, 100);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.reset {
  padding: 15px 20px;
  width: 100%;
  color: black;
  background-color: #bdc4d4;
  border: none;
  font-size: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.reset:focus {
  color: rgb(1, 9, 88);
  background-color: ghostwhite;
}

.game {
  width: 430px;
  height: 430px;
  border: 1px solid rgb(6, 120, 196);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: center;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
